form {
    margin: 20px 0;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 10px 15px;
  }
  
  div.ng-invalid.ng-touched {
    color: red;
  }
  